KN_RAG_PROD_READY_CHATBOT_V1__30MAR2025_Class_.json
{
  "name": "KN RAG PROD READY CHATBOT V1 (30MAR2025 Class)",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "1a292192-8d28-4744-87a8-e9a672094f76",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        540,
        840
      ]
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "fa9c927d-8a14-4ada-b42a-8f1c53b5667e",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        420,
        120
      ]
    },
    {
      "parameters": {
        "content": "## System 2: Agent Tools for RAG",
        "height": 509,
        "width": 703,
        "color": 4
      },
      "id": "b07b21bc-c6a8-49df-bd42-4857bba045a3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        20
      ]
    },
    {
      "parameters": {
        "content": "## System 3: Tool to Add a Google Drive File to Vector DB",
        "height": 671.8877842322804,
        "width": 2070.8894079025763,
        "color": 5
      },
      "id": "5a1d203d-87e8-4b80-86d1-8ecfc04a5886",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        540
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "9f57ace6-b198-4ae9-98de-fe49bcc0eb31",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -120,
        720
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V7M4ZKo32b9qD2Dg",
          "name": "KN Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KV9zJPA0OdlgCTL9GTHuuvSH3tO699Wc",
          "mode": "list",
          "cachedResultName": "RAG_CHATBOT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KV9zJPA0OdlgCTL9GTHuuvSH3tO699Wc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "364be328-8663-4453-864c-90637784d83d",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1160,
        620
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V7M4ZKo32b9qD2Dg",
          "name": "KN Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KV9zJPA0OdlgCTL9GTHuuvSH3tO699Wc",
          "mode": "list",
          "cachedResultName": "RAG_CHATBOT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KV9zJPA0OdlgCTL9GTHuuvSH3tO699Wc"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "1ddf6e78-b62f-4e78-81f2-73431c45b440",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1160,
        840
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V7M4ZKo32b9qD2Dg",
          "name": "KN Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "a518ec0f-46aa-419a-a4f3-e59d256c9363",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        140,
        720
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "f2905a46-d60e-4d64-8fbe-f6e725349e67",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -280,
        360
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "3e1lVnT8GYwM9MzL",
          "name": "KN Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1e03852f-55ba-4e90-b8bd-eb0e30f0c53c",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        540,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "43bd5a17-4381-49f9-ba44-d4f5f937d428",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -420,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ElkD9XXFbHHAjmGc",
          "name": "KN Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa524146-4e2b-4256-aa59-b4c33ab31ee1",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        720
      ]
    },
    {
      "parameters": {
        "content": "## System 1 : RAG AI Agent with Chat Interface",
        "height": 505,
        "width": 773
      },
      "id": "3e062e22-f1a8-4fed-bc3e-fc23c6e9de40",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        20
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nThis Data Science Masterminds Private ChatBot. How can I assist you today?",
        "options": {
          "subtitle": "Created by Kunaal Naik",
          "title": "Private RAG ChatBot Hosted Securely using Kloudbean"
        }
      },
      "id": "4379f8b4-a7e9-40d8-99f0-5a04e994fa31",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        140
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."
        }
      },
      "id": "3a6fd066-e52b-46fa-b29a-e7a21ea2451c",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -320,
        140
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "24a6d2a4-6d2f-4e9e-8690-aa2d698d5eea",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        420,
        620
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ElkD9XXFbHHAjmGc",
          "name": "KN Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "9f6f1022-77e2-4d39-9844-894085f217d5",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        180,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ElkD9XXFbHHAjmGc",
          "name": "KN Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "6dad7e26-f18f-4bb5-8f88-be36bd1ccdc8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3mehKUY7CfICLhGW",
          "name": "KN GEMINI API KEY"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        940
      ],
      "id": "b600b37c-0a0d-428f-ac5c-c95246bc711f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kRw4xWks96emp1DI",
          "name": "KN OPENAI N8N Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        380
      ],
      "id": "5b1e0ebe-3fe6-47c8-9718-9d55bda686cd",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "kRw4xWks96emp1DI",
          "name": "KN OPENAI N8N Key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-0125"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        340
      ],
      "id": "da123bf5-f370-4c33-96b8-8922fc725d78",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kRw4xWks96emp1DI",
          "name": "KN OPENAI N8N Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG ChatBot - Production Ready\n\n-- N8N Privately Hosted on Kloudbean\n-- Open API 4o-mini/GPT 3.5 model\n-- Open API embedding3-mini\n-- Supabase - Privately Hosted on Kloudbean\n-- Google Drive - Personal (Can be replaced)\n-- Works for Google Documents only (Can be changed)\n\n\n## You will need\n\n- Open API keys (paid credits)\n- Supabase - Host and Database Credentials\n- Supabase - API keys\n- Google API Access (If self hosted) ",
        "height": 500,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        20
      ],
      "id": "3f6bb829-7414-4962-8ea3-3fc4f8617100",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b166b9c-f9f1-4876-bf74-c4256f8bd869",
  "meta": {
    "instanceId": "a39925a189fc4958777cfbc2ee952f96a625e56b8dde120f89d58a7cdacf694a"
  },
  "id": "xTcXLwsg2WnaPC2g",
  "tags": [
    {
      "createdAt": "2025-02-03T17:44:17.590Z",
      "updatedAt": "2025-02-03T17:44:17.590Z",
      "id": "vPAaDZwu2ipLy2g5",
      "name": "KN"
    }
  ]
}